<ion-header>
  <ion-toolbar class="headingselector">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/greeting"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'PermanentMarker'; text-align:center">Greeting Module</ion-title>
  </ion-toolbar>
</ion-header>

<audio id="yes" src="../../../assets/sounds/no-male.aiff" ></audio>
<audio id="no" src="../../../assets/sounds/yes-male.aiff" ></audio>
<audio id="click" src="../../../assets/sounds/coin1.wav" ></audio>

<ion-content class="selector" (click)="setbackground()" tappable padding >
  <div class="button-module">
    <ion-row style="height: 20px"></ion-row>
      
    <ion-row style="height: 125px"></ion-row>
    <ion-row style="height: 295px">
      <ion-col>
          <div class="button1" (click)='clickedYes()'> YES</div>
      </ion-col>
      <ion-col>
          <div class="button2" (click)='clickedNo()'> NO </div>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
