
.homepage{
    --ion-background-color: #f1c40f;
}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 62px;
    text-align: center;
  }

  .new-background-color{
    --background: #f1c40f;
}