<ion-header class="homepage">
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title style="font-family: 'PermanentMarker'; text-align:center">Greeting Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage"> 


  <p style="padding: 35px 165px; text-align: center;"> Welcome to the Questions Module! To Access Yes/No Question, click on the button below. To Play the module with the selections of questions from the database, click on the specific question below, under the Questions Section.. </p>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
          <ion-button class="yesnobutton" expand="block" color="dark" (click)="click1()"> <ion-ripple-effect></ion-ripple-effect> Yes/No Module </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
          <h2 style="font-family: 'PermanentMarker'; font-size: 40px; text-align: center"> Questions </h2>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
      <ion-item button detail *ngFor="let question of questionsService.questions" [href]="'/greeting/' + question.id" routerDirection="forward">
        <ion-label style="text-align: center"> <ion-ripple-effect></ion-ripple-effect> {{ question.title }}</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
