.contentclass{
    --padding-horizontal: 25px;
}

.foo{
    padding: 0 25px;
}

.homepage{
    --ion-background-color: #ecf0f1;
}

.new-background-color{
    --background: #ecf0f1;
}

.ion-padding-horizontal{
    padding: 0 30px;
}