<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Database page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">

  <p>This is the Greeting Database. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  
  <ion-button expand="block" color="dark" (click)="addQuestion()">Add Greeting</ion-button>

  <h3>Greeting Database</h3>

  <ion-list>
    <ion-item button detail *ngFor="let question of questionsService.questions" [href]="'/database/' + question.id" routerDirection="forward">
      <ion-label>{{ question.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
