<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title style="font-family: 'PermanentMarker'; text-align:center">Modify Question Database</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="homepage">
  <ion-grid>
    <ion-row></ion-row>
    <ion-row style="padding: 40px 105px;">
      <p> Modify the Questions and Answers in the Module Here! Click on "ADD QUESTION" Button to add a new Question to the Database. To modify the current database, scroll below and find the question to modify. Then click on the Add Question Button Below. When done with modifications, hit the back button to go to the Home Page!
    </ion-row>
  </ion-grid>

   <ion-row>
      <ion-col></ion-col>
      <ion-col>
          <ion-button class="yesnobutton" expand="block" color="dark" (click)="addQuestion()"> <ion-ripple-effect></ion-ripple-effect> ADD NEW QUESTION </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  <h2 style="padding: 5px 45px; text-align: center; font-family: 'PermanentMarker';">Question Database</h2>

  <ion-list>
    <ion-item button detail *ngFor="let question of questionsService.questions" [href]="'/database/' + question.id" routerDirection="forward">
      <ion-label style="text-align: center;">{{ question.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
